<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label  for="" class="form-label">search book</label>
                    <input class="form-control" type="text" name="bookname"[(ngModel)]="bookname" id="">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success"(click)="readvalue()">search</button>
                </div>
               <div *ngFor="let i of data">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label  for="" class="form-label">book name</label>
                    <input class="form-control" type="text" name=""value="{{i.bookname}}" id="">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label  for="" class="form-label">discription</label>
                    <input class="form-control" type="text" name=""value="{{i.bookdiscription}}" id="">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label  for="" class="form-label">page</label>
                    <input class="form-control" type="text" name=""value="{{i.pages}}" id="">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label  for="" class="form-label">language</label>
                    <input class="form-control" type="text" name=""value="{{i.language}}" id="">
                </div>

               </div>
            </div>
        </div>
    </div>
</div>